language: d

matrix:
  include:
    - d: dmd
    - d: ldc
    - d: gdc
    - d: dmd
      env: CODECOV=1

before_install:
  - curl -sL https://github.com/aquynh/capstone/archive/3.0.5.tar.gz > capstone.tar.gz
  - tar xzf capstone.tar.gz
  - cd capstone-3.0.5
  - make clean
  - ./make.sh
  - sudo ./make.sh install
  - cd ..

script:
- if [[ "$CODECOV" == "1" ]]; then
    dub test -b unittest-cov;
  else
    dub test -b unittest;
  fi

after_success:
- if [[ "$CODECOV" == "1" ]]; then
    bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports";
  fi