language: d

matrix:
  include:
    - d: dmd-nightly
    - d: dmd-nightly
      env: CODECOV=1

before_install:
  - curl -sL https://github.com/aquynh/capstone/archive/8f4cc4e80d2c8635b06be9fe193eb6e3c6bd357f.zip > capstone.zip
  - unzip capstone.zip
  - cd capstone-8f4cc4e80d2c8635b06be9fe193eb6e3c6bd357f
  - make clean
  - ./make.sh
  - sudo ./make.sh install
  - cd ..

script:
- if [[ "$CODECOV" == "1" ]]; then
    dub test -b unittest-cov --build-mode=singleFile;
  else
    dub test --build-mode=singleFile;
  fi

after_success:
- if [[ "$CODECOV" == "1" ]]; then
    bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports";
  fi